---
import Noscroll from "../../../layouts/Scroll.astro";
const { server, password } = Astro.params;
let error = false;
const ip = await fetch(new URL(`/api/connect/${server}`, Astro.url)).then((res) => {
    if (res.ok) {
        return res.text();
    } else {
        error = true;
        return "";
    }
});
---
<Fragment slot="head">
    <link rel="preload" href="/reg_bg.jpg">
</Fragment>

<Noscroll title="pugBot.tf | Connect">
    <div class="container">
        <div class="main">
            <h1>connect linking</h1>
            <h3>link to any steam server by entering:</h3>
            <h2 is:raw>https://pugbot.tf/connect/{ip}:{port}/{password}</h2>
            <h3>for example: pugbot.tf/connect/chi3.serveme.tf:27115/12345</h3>
            {error ? <p class="error">Error connecting to the server! Check that the IP in the URL is correct.</p> : <p>Connecting to {server}...</p>}
        </div>
        {!error && <meta http-equiv="refresh" content=`1;url=steam://connect/${ip}/${password}` />}
    </div>
</Noscroll>

<style>
    .container {
        background-image: url("/reg_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

    .main {
        min-width: 550px;
        position: relative;
        top: 50%;
        left: 50%;
        width: fit-content;
        transform: translate(-50%, -50%);
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: Ubuntu, sans-serif;
        color: black;
        background: white;
        border: 2px solid black;
        border-radius: 12px;
        padding: 25px;
    }

    .error {
        color: red;
    }
</style>
